<div data-ng-controller="HeaderController" flex>
    <md-toolbar hide-sm class="site-header">
        <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <span class="md-padding">{{hc.selected.name}} Sparks</span>
	    <span class="md-padding">
		    <md-button ng-if="!hc.authentication.user" aria-label="Login Button" href="/auth/forcedotcom">
		        <md-icon md-svg-icon="login"></md-icon>
		        Login
		    </md-button>
		    <span ng-if="hc.authentication.user && hc.authentication.user.providerData.photos.thumbnail">
		        <img class="toolbar-user-image" ng-src="{{hc.authentication.user.providerData.photos.thumbnail}}"/>
		        <span ng-show="hc.isLargeView()">{{hc.authentication.user.displayName}}</span>
		    </span>
		    </md-button>
		    <md-button ng-if="hc.authentication.user" aria-label="Logout Button" href="/auth/signout">
		        <md-icon md-svg-icon="logout"></md-icon>
		        Logout
		    </md-button>
	    </span>
	    </div>
    </md-toolbar>
    <md-toolbar hide-gt-sm layout="row" layout-align="center center">    			
	    <md-toolbar-tools ng-repeat="it in hc.users">
	        <md-button ng-click="hc.selectUser(it)"
	                   ng-class="{'selected' : it === hc.selected }"
	                   aria-label="{{it.name}}"
	                   data-ng-if="!it.authRequired || hc.authentication.user">
	            <md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon>
	        </md-button>
	    </md-toolbar-tools>		   
		<md-toolbar-tools>
			<md-button ng-if="!hc.authentication.user" aria-label="Login Button" href="/auth/forcedotcom">
		        <md-icon md-svg-icon="login"></md-icon>
		    </md-button>
			<md-button ng-if="hc.authentication.user" aria-label="Logout Button" href="/auth/signout">
		        <md-icon md-svg-icon="logout"></md-icon>
		    </md-button>
		</md-toolbar-tools>
    </md-toolbar>
</div>