<div flex layout="row" data-ng-controller="HomeController as hc">

    <!-- SideNav -->
    <md-sidenav hide-sm data-ng-include="'/modules/core/views/sideNav.client.view.html'" layout="column" md-is-locked-open="true" md-component-id="left" class="md-whiteframe-z2 site-sidenav" ng-class="hc.sideNavClass()" ng-mouseenter="hc.activateSidenav()" ng-mouseleave="hc.deactivateSidenav()"></md-sidenav>
    
    <!-- Right -->
    <div flex layout="column">
	    
	    <!-- Toolbar -->
		<header data-ng-include="'/modules/core/views/header.client.view.html'"></header>
	 
	    <!-- Content -->
	    <md-content flex id="content">
	    
	        <!-- Tile Grid -->
	        <div data-ng-include="'/modules/core/views/tileGrid.client.view.html'" class="gridListdemoDynamicTiles"></div>
	    
	        <!-- Floating Action Button Menu -->
	        <mfb-menu main-action="hc.sparkDialog($event)" position="br" effect="slidein" label="New Spark" active-icon="flash" resting-icon="add" toggling-method="hover" template-url="modules/core/views/mfb-menu.client.view.html">
	        	<mfb-button template-url="modules/core/views/mfb-button.client.view.html" ng-repeat="action in hc.actions" label="{{action.name}}" icon="{{action.icon}}" ng-click="hc.openWindow(action.windowURL,action.name,action.windowWidth,action.windowHeight)" />
	        </mfb-menu>
	    
	    </md-content>

	</div>
</div>