<md-toolbar layout="row">
    <md-button class="sideNavButton" aria-label="Show Side Nav">
    	<h1><md-icon md-svg-icon="flash"></md-icon><span ng-if="hc.activeSidenav" class="animate-if">Salesforce1 Spark</span></h1>
    </md-button>
</md-toolbar>
<md-divider></md-divider>
<md-list>
    <md-list-item ng-repeat="it in hc.users">
        <md-button ng-click="hc.selectUser(it)"
                   ng-class="{'selected' : it === hc.selected }"
                   aria-label="{{it.name}}">
            <md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon>
            <span ng-if="hc.activeSidenav" class="animate-if">{{it.name}}</span>
        </md-button>
        <md-divider/>
    </md-list-item>
</md-list>